streamlit
langchain
langchain-community
chromadb
huggingface-hub
sentence-transformers
fastmcp
pydantic
python-dotenv
unstructured
pypdf
markdown
pyyaml
langchain-text-splitters
langchain-core
google-generativeai
httpx>=0.25.0
nest-asyncio>=1.5.0
fastapi
uvicorn
